{%extends base.html%}
{%block title%}登录x博客{%end%}
{%block script%}
<script src="static/js/login_register_js/jquery.min.js"></script>
<script src="static/js/login_register_js/common.js"></script>
<!--背景图片自动更换-->
<script src="static/js/login_register_js/supersized.3.2.7.min.js"></script>
<script src="static/js/login_register_js/supersized-init.js"></script>

</script>
<!--表单验证-->
<script src="static/js/login_register_js/jquery.validate.min.js?var1.14.0"></script>
{%end%}
{%block css%}
<link rel="stylesheet" href="static/css/login_register_css/login_register_style.css" />
{%end%}
{%block body%}
{%module loginmodule() %}
{%end%}